<div class="graph-container gap-2">
  <p-chart
    type="line"
    [data]="graphData"
    [options]="graphOptions"
    ariaLabel="Graph of stock market data"
  />
  <section class="column next-to-graph" aria-label="additional info">
    <h3 aria-label="selected ticker">
      Selected Ticker: {{ graphData.ticker }}
    </h3>
    <hr />
    <h4 aria-label="company name">Name:</h4>
    <p>{{ graphData.name }}</p>
    <hr />
    <h4 aria-label="date range">Date range:</h4>
    <p>{{ graphData.dateRange }}</p>
    <hr />
    <h4 aria-label="highest price in range">Highest price in range:</h4>
    <p>${{ graphData.highestPrice }}</p>
    <hr />
    <h4 aria-label="lowest price in range">Lowest price in range:</h4>
    <p>${{ graphData.lowestPrice }}</p>
  </section>
</div>
