<div class="graph-container gap-2">
  <p-chart
    type="line"
    [data]="graphData"
    [options]="graphOptions"
    ariaLabel="Graph of stock market data"
  />
  <section class="column next-to-graph" aria-label="additional info">
    <h3 aria-label="selected ticker">
      Selected Ticker: {{ graphData.ticker }}
    </h3>
    <hr />
    <h4 aria-label="highest price in range">
      Highest price in range: {{ graphData.highestPrice }}
    </h4>
    <hr />
    <h4 aria-label="lowest price in range">
      Lowest price in range: {{ graphData.lowestPrice }}
    </h4>
  </section>
</div>
