<div class="column gap-1 table-container">
  <p-table [value]="tableData" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="v">Volume<p-sortIcon field="v" /></th>
        <th pSortableColumn="vw">VWAP<p-sortIcon field="vw" /></th>
        <th pSortableColumn="o">Open<p-sortIcon field="o" /></th>
        <th pSortableColumn="c">Close<p-sortIcon field="c" /></th>
        <th pSortableColumn="h">High<p-sortIcon field="h" /></th>
        <th pSortableColumn="l">Low<p-sortIcon field="l" /></th>
        <th pSortableColumn="t">Timestamp<p-sortIcon field="t" /></th>
        <th pSortableColumn="n">Number of Trades<p-sortIcon field="n" /></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tableData>
      <tr>
        <td>{{ tableData.v }}</td>
        <td>{{ tableData.vw }}</td>
        <td>{{ tableData.o }}</td>
        <td>{{ tableData.c }}</td>
        <td>{{ tableData.h }}</td>
        <td>{{ tableData.l }}</td>
        <td>{{ tableData.t | date : "medium" }}</td>
        <td>{{ tableData.n }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
